In [2]:
import json
path = "/Users/cerser/Desktop/pydata-book/datasets/bitly_usagov/example.txt"
records = [json.loads(line) for line in open(path)]

In [3]:
print(type(records))

<class 'list'>

In [4]:
print(records[0])
print(records[0]['tz'])

{'a': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.78 Safari/535.11', 'c': 'US', 'nk': 1, 'tz': 'America/New_York', 'gr': 'MA', 'g': 'A6qOVH', 'h': 'wfLQtf', 'l': 'orofrog', 'al': 'en-US,en;q=0.8', 'hh': '1.usa.gov', 'r': 'http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/wfLQtf', 'u': 'http://www.ncbi.nlm.nih.gov/pubmed/22415991', 't': 1331923247, 'hc': 1331822918, 'cy': 'Danvers', 'll': [42.576698, -70.954903]}
America/New_York

In [5]:
time_zones = [rec['tz'] for rec in records if 'tz' in rec]
print(len(time_zones))

d = {}
for tz in time_zones:
    if tz in d:
        d[tz] += 1
    else:
        d[tz] = 1
        
for tz in d:
    print("%50s%10d\n" % (tz, d[tz]))

3440
                                  America/New_York      1251

                                    America/Denver       191

                                 America/Sao_Paulo        33

                                     Europe/Warsaw        16

                                                         521

                               America/Los_Angeles       382

                                    Asia/Hong_Kong        10

                                       Europe/Rome        27

                                      Africa/Ceuta         2

                                     Europe/Madrid        35

                                 Asia/Kuala_Lumpur         3

                                      Asia/Nicosia         1

                                     Europe/London        74

                                  Pacific/Honolulu        36

                                   America/Chicago       400

                                      Europe/Malta         2

                                     Europe/Lisbon         8

                                      Europe/Paris        14

                                 Europe/Copenhagen         5

                                  America/Mazatlan         1

                                     Europe/Dublin         3

                                   Europe/Brussels         4

                                 America/Vancouver        12

                                  Europe/Amsterdam        22

                                     Europe/Prague        10

                                  Europe/Stockholm        14

                                 America/Anchorage         5

                                      Asia/Bangkok         6

                                     Europe/Berlin        28

                               America/Rainy_River        25

                                   Europe/Budapest         5

                                        Asia/Tokyo        37

                                     Europe/Vienna         6

                                   America/Phoenix        20

                                    Asia/Jerusalem         3

                                      Asia/Karachi         3

                                    America/Bogota         3

                              America/Indianapolis        20

                                  America/Montreal         9

                                     Asia/Calcutta         9

                                     Europe/Skopje         1

                                       Asia/Beirut         4

                                     Australia/NSW         6

                                 Chile/Continental         6

                                   America/Halifax         4

                                  America/Edmonton         6

                                 Europe/Bratislava         3

                                    America/Recife         2

                                      Africa/Cairo         3

                                     Asia/Istanbul         9

                                  Asia/Novosibirsk         1

                                     Europe/Moscow        10

                                      Europe/Sofia         1

                                  Europe/Ljubljana         1

                               America/Mexico_City        15

                                   Europe/Helsinki        10

                                  Europe/Bucharest         4

                                     Europe/Zurich         4

                               America/Puerto_Rico        10

                                 America/Monterrey         1

                                     Europe/Athens         6

                                  America/Winnipeg         4

                                       Europe/Riga         2

                    America/Argentina/Buenos_Aires         1

                                        Asia/Dubai         4

                                       Europe/Oslo        10

                                Asia/Yekaterinburg         1

                                       Asia/Manila         1

                                   America/Caracas         1

                                       Asia/Riyadh         1

                                America/Montevideo         1

                         America/Argentina/Mendoza         1

                                        Asia/Seoul         5

                                   Europe/Uzhgorod         1

                              Australia/Queensland         1

                                   Europe/Belgrade         2

                                America/Costa_Rica         1

                                      America/Lima         1

                                    Asia/Pontianak         1

                                 America/Chihuahua         2

                                    Europe/Vilnius         2

                                   America/Managua         3

                                     Africa/Lusaka         1

                                 America/Guayaquil         2

                                       Asia/Harbin         3

                                        Asia/Amman         2

                               Africa/Johannesburg         1

                                  America/St_Kitts         1

                                  Pacific/Auckland        11

                             America/Santo_Domingo         1

                         America/Argentina/Cordoba         1

                                      Asia/Kuching         1

                                  Europe/Volgograd         1

                                    America/La_Paz         1

                                 Africa/Casablanca         1

                                      Asia/Jakarta         3

                               America/Tegucigalpa         1

In [6]:
from pandas import DataFrame, Series
import pandas as pd

frame = DataFrame(records)
print(frame['tz'][:10])
l = frame['tz'].value_counts()
print(l[:10])

clean_tz = frame['tz'].fillna('Missing')
clean_tz[clean_tz == ''] = 'Unknown'
l = clean_tz.value_counts()

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(frame['tz'][:10])? (<ipython-input-6-91b8413fd7d8>, line 5)